@{
    
    ViewData["Title"] = $" Модуль - документы ({ ViewData["Version"]})";
}
<body>
    <div class="cont">
        <table class="mainTable">
            <tr>
                <td class="leftPanel">
                    <table class="filterTable">
                        <tr>
                            <td height="25" width="150">
                                Устройство:
                            </td>
                            <td height="25">
                                <select class="filterSelect" id="ComboboxDevice"></select>
                            </td>
                        </tr>
                        <tr>
                            <td height="25">
                                Документ:
                            </td>
                            <td height="25">
                                <select class="filterSelect" id="ComboboxDocGUID"></select>
                            </td>
                        </tr>
                        <tr>
                            <td height="25">
                                Дата начала:
                            </td>
                            <td height="25">
                                <input class="filterDatepicker" id="DatepickerBegin"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="25">
                                Дата окончания:
                            </td>
                            <td height="25">
                                <input class="filterDatepicker" id="DatepickerEnd"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="25" colspan="2" align="right">
                                <button class="filterButton" id="ButtonGetData" type="button" onclick="GetDataWithSpinner()">
                                    <span id="ButtonGetDataSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    <span id="ButtonGetDataText">Получить данные</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top">
                                <table id="DataTable" class="display compact searched-table" style="width: 100%; height: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Документ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td height="25"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="rightPanel">
                    <table class="docTable">
                        <tr>
                            <td height="37" width="250">
                                <input id="viewModeButton" type="button" value="Редактирование" width="100" hidden="hidden" onclick="ToggleMode()">
                            </td>
                            <td id="viewPanel">
                                <table width="100%" height="100%" style="border: 1px none rgb(248, 2, 2)">
                                    <td align="left" style="border: 1px none rgb(248, 2, 2)">
                                        <select id="ComboboxTemplateDoc">Форма документа</select>
                                        <select id="ComboboxProtocolNumber">Номер протокола</select>
                                    </td>
                                    <td align="right" style="border: 1px none rgb(248, 2, 2)">
                                        <select id="ComboboxExportFormat">Экспорт</select>
                                        <input class="bExport" id="ButtonExport" type="button" value="Экспорт"
                                               onclick="ExportDoc()">
                                        <select id="ComboboxPrinterName">Принтер</select>
                                        <input id="ButtonPrint" type="button" value="Печать" onclick="PrintDoc()">
                                        <div class="dropdown" style="display: inline-block;">
                                            <button class="dropdown-toggle" type="button" id="MenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu" aria-labelledby="MenuButton">
                                                <a class="dropdown-item custom-dropdown-item" href="#" id="MenuItemDictionaries" data-toggle="modal" data-target="#modal-window" data-backdrop="static" data-keyboard="false">
                                                    <i class="fa fa-book" aria-hidden="true"></i>
                                                    <span>Справочники</span>
                                                </a>
                                                <a class="dropdown-item custom-dropdown-item" href="#" id="MenuItemConfigurator" data-toggle="modal" data-target="#configurator-window" data-backdrop="static" data-keyboard="false">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                    <span>Конфигуратор</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </table>
                            </td>
                            <td id="editPanel" align="right" hidden>
                                <input id="ButtonElis" type="button" value="Запросить данные из ЕЛИС" data-toggle="modal" data-target="#elis" onclick="OpenElisDialog()" hidden>
                                <input id="ButtonSave" type="button" value="Сохранить" onclick="SaveDoc()">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <iframe name=print_frame class="FR" src=""></iframe>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    
    @*todo: вынести в отдельный  html*@
    <div class="modal fade"
     onselectstart="return false"
     oncontextmenu="return false"
     id="modal-window"
     tabindex="-1" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 100%; width: 100vw; height: 100vh; margin: 0;">
        <div class="modal-content" style="height: 100vh; border-radius: 0;">
            <div class="modal-header">

                <ul class="nav nav-pills nav-fill tabs-selector">
                    <li class="nav-item">
                        <a class="nav-link active" data-type="#main-dir-page" type="button">Персонал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-type="#qp-dir-page" type="button">Методы испытаний</a>
                    </li>
                </ul>


                <div class="close-menu" aria-label="Close">
                    <button type="button" class="btn btn-outline-primary save-btn close-menu-item">
                        <i class="fa fa-spinner fa-spin d-none" aria-hidden="true"></i>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger close-menu-item close-modal-wnd-btn" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row tab-item" id="main-dir-page">
                        <div class="col-3">
                            <ul class="list-group side-menu-list" id="dictionaries-list">
                                <li class="list-group-item side-menu-item active" data-type="#user-group"> Группы пользователей</li>
                                <li class="list-group-item side-menu-item" data-type="#licences"> Доверенности</li>
                                <li class="list-group-item side-menu-item" data-type="#users"> Пользователи</li>
                            </ul>
                        </div>
                        <div class="col-9">
                            <div class="dictionaries">
                                <div class="dir-item" id="user-group">
                                    <div class="table-container">
                                        <div class="table-content">
                                            <table class="user-group-table  table table-bordered inner-item-center">
                                                <thead >
                                                <tr class="table-secondary">
                                                    @* <th scope="col">Активен</th> *@
                                                    <th scope="col">Название</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-bottom-menu">
                                        </div>
                                    </div>

                                </div>

                                <div class="dir-item  d-none" id="users">
                                    <div class="table-container">
                                        <div class="parameter-navigation" id="users-group-selector-container">
                                            @* Сюда JS вставит .parameter-selector с комбобоксом группы пользователей *@
                                        </div>
                                        <div class="table-content">
                                            <table class="users-table table table-bordered inner-item-center">
                                                <thead>
                                                <tr class="table-primary">
                                                    <th scope="col">Активен</th>
                                                    <th scope="col">Фамилия</th>
                                                    <th scope="col">Имя</th>
                                                    <th scope="col">Отчество</th>
                                                    <th scope="col">Организация</th>
                                                    <th scope="col">Должность</th>
                                                    <th scope="col">Доверенность</th>
                                                    <th scope="col">Cепаратор</th>
                                                    <th scope="col">Пробелы</th>
                                                    <th scope="col">Сокр.&nbsp;форма</th>
                                                    <th scope="col">Действия</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-bottom-menu">
                                            <button class="btn btn-primary default-btn-size add-user-btn">
                                                <div class="padding-one-px-top">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <label>Добавить</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="dir-item  d-none" id="licences">
                                    <div class="table-container">
                                        <div class="table-content">
                                            <table class="licences-table table table-bordered inner-item-center">
                                                <thead>
                                                <tr class="table-primary">
                                                    <th scope="col">Активен</th>
                                                    <th scope="col">Номер доверенности</th>
                                                    <th scope="col">Дата доверенности</th>
                                                    <th scope="col">Действия</th>
                                                </tr>
                                                </thead>
                                            </table>

                                        </div>
                                        <div class="table-bottom-menu">
                                            <button class="btn btn-primary default-btn-size add-lic-btn">
                                                <div class="padding-one-px-top">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <label>Добавить</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-item row d-none" id="qp-dir-page">
                        <div class="col-3">
                            <ul class="list-group side-menu-list" id="qp-list">
                            </ul>
                        </div>
                        <div class="col-9">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @* Модальное окно конфигуратора *@
    <div class="modal fade"
         onselectstart="return false"
         oncontextmenu="return false"
         id="configurator-window"
         tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 100%; width: 100vw; height: 100vh; margin: 0;">
            <div class="modal-content" style="height: 100vh; border-radius: 0;">
                <div class="modal-body" style="padding: 0; overflow: hidden; height: 100%;">
                    <iframe id="configurator-iframe"
                            src="/configurator"
                            style="width: 100%; height: 100%; border: none;"
                            frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="ErrorDialogContent">
        <!-- Здесь будет загружен HTML файл -->
    </div>
    <div id="ElisRequestContent">
        <!-- Здесь будет загружен HTML файл -->
    </div>

@* Окно для подтверждения действий пользователя *@
@* Текст вставляется через перегрузку метода  confirm *@

<div id="PromiseConfirm" class="modal" onselectstart="return false">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content  rounded  border border-5 border-primary">
            <div class="modal-header">
                <h7 class="modal-title">
                    <i style="font-size: 1.5em;"></i> <span>Внимание</span>
                </h7>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary confirm-ok-btn" data-dismiss="modal">Да</button>
                <button type="button" class="btn btn-outline-danger  confirm-cancel-btn" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>


<script>
        RedefinitionConfirmWindow();
        InitElement();
        // загрузка статичного html
        $(document).ready(function () {
            $("#ErrorDialogContent").load("/HTML/ErrorDialogWindow.html");
            $("#ElisRequestContent").load("/HTML/ElisRequestWindow.html");
        });

        // Обработчик сообщений из iframe конфигуратора
        window.addEventListener('message', function(event) {
            if (event.data && event.data.action === 'closeConfiguratorModal') {
                $('#configurator-window').modal('hide');
            }
        });
</script>
</body>