@{
    
    ViewData["Title"] = $" Модуль просмотра документов ({ ViewData["Version"]})";
}

<div id="app"></div>

@*todo: вынести в отдельный  html*@
    <div class="modal fade"
     onselectstart="return false"
     oncontextmenu="return false"
     id="modal-window"
     tabindex="-1" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 100%; width: 100vw; height: 100vh; margin: 0;">
        <div class="modal-content" style="height: 100vh; border-radius: 0;">
            <div class="modal-header">

                <ul class="nav nav-pills nav-fill tabs-selector">
                    <li class="nav-item">
                        <a class="nav-link active" data-type="#main-dir-page" type="button">Персонал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-type="#qp-dir-page" type="button">Методы испытаний</a>
                    </li>
                </ul>


                <div class="close-menu" aria-label="Close">
                    <button type="button" class="btn btn-outline-primary save-btn close-menu-item">
                        <i class="fa fa-spinner fa-spin d-none" aria-hidden="true"></i>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger close-menu-item close-modal-wnd-btn" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row tab-item" id="main-dir-page">
                        <div class="col-3">
                            <ul class="list-group side-menu-list" id="dictionaries-list">
                                <li class="list-group-item side-menu-item active" data-type="#user-group"> Группы пользователей</li>
                                <li class="list-group-item side-menu-item" data-type="#licences"> Доверенности</li>
                                <li class="list-group-item side-menu-item" data-type="#users"> Пользователи</li>
                            </ul>
                        </div>
                        <div class="col-9">
                            <div class="dictionaries">
                                <div class="dir-item" id="user-group">
                                    <div class="table-container">
                                        <div class="table-content">
                                            <table class="user-group-table  table table-bordered inner-item-center">
                                                <thead >
                                                <tr class="table-secondary">
                                                    @* <th scope="col">Активен</th> *@
                                                    <th scope="col">Название</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-bottom-menu">
                                        </div>
                                    </div>

                                </div>

                                <div class="dir-item  d-none" id="users">
                                    <div class="table-container">
                                        <div class="parameter-navigation" id="users-group-selector-container">
                                            @* Сюда JS вставит .parameter-selector с комбобоксом группы пользователей *@
                                        </div>
                                        <div class="table-content">
                                            <table class="users-table table table-bordered inner-item-center">
                                                <thead>
                                                <tr class="table-primary">
                                                    <th scope="col">Активен</th>
                                                    <th scope="col">Фамилия</th>
                                                    <th scope="col">Имя</th>
                                                    <th scope="col">Отчество</th>
                                                    <th scope="col">Организация</th>
                                                    <th scope="col">Должность</th>
                                                    <th scope="col">Доверенность</th>
                                                    <th scope="col">Cепаратор</th>
                                                    <th scope="col">Пробелы</th>
                                                    <th scope="col">Сокр.&nbsp;форма</th>
                                                    <th scope="col">Действия</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-bottom-menu">
                                            <button class="btn btn-primary default-btn-size add-user-btn">
                                                <div class="padding-one-px-top">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <label>Добавить</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="dir-item  d-none" id="licences">
                                    <div class="table-container">
                                        <div class="table-content">
                                            <table class="licences-table table table-bordered inner-item-center">
                                                <thead>
                                                <tr class="table-primary">
                                                    <th scope="col">Активен</th>
                                                    <th scope="col">Номер доверенности</th>
                                                    <th scope="col">Дата доверенности</th>
                                                    <th scope="col">Действия</th>
                                                </tr>
                                                </thead>
                                            </table>

                                        </div>
                                        <div class="table-bottom-menu">
                                            <button class="btn btn-primary default-btn-size add-lic-btn">
                                                <div class="padding-one-px-top">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <label>Добавить</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-item row d-none" id="qp-dir-page">
                        <div class="col-3">
                            <ul class="list-group side-menu-list" id="qp-list">
                            </ul>
                        </div>
                        <div class="col-9">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @* Модальное окно конфигуратора *@
    <div class="modal fade"
         onselectstart="return false"
         oncontextmenu="return false"
         id="configurator-window"
         tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 100%; width: 100vw; height: 100vh; margin: 0;">
            <div class="modal-content" style="height: 100vh; border-radius: 0;">
                <div class="modal-body" style="padding: 0; overflow: hidden; height: 100%;">
                    <iframe id="configurator-iframe"
                            src="/configurator"
                            style="width: 100%; height: 100%; border: none;"
                            frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="ErrorDialogContent">
        <!-- Здесь будет загружен HTML файл -->
    </div>
    <div id="ElisRequestContent">
        <!-- Здесь будет загружен HTML файл -->
    </div>

@* Окно для подтверждения действий пользователя *@
@* Текст вставляется через перегрузку метода  confirm *@

<div id="PromiseConfirm" class="modal" onselectstart="return false">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content  rounded  border border-5 border-primary">
            <div class="modal-header">
                <h7 class="modal-title">
                    <i style="font-size: 1.5em;"></i> <span>Внимание</span>
                </h7>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary confirm-ok-btn" data-dismiss="modal">Да</button>
                <button type="button" class="btn btn-outline-danger  confirm-cancel-btn" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/document-viewer/document-viewer.css" asp-append-version="true"/>
}

@section Scripts {
    <script>
        RedefinitionConfirmWindow();
        $(document).ready(function () {
            $("#ErrorDialogContent").load("/HTML/ErrorDialogWindow.html");
            $("#ElisRequestContent").load("/HTML/ElisRequestWindow.html");
        });

        // Обработчик сообщений из iframe конфигуратора
        window.addEventListener('message', function (event) {
            if (event.data && event.data.action === 'closeConfiguratorModal') {
                $('#configurator-window').modal('hide');
            }
        });
    </script>
    <script type="module" src="~/document-viewer/document-viewer.js" asp-append-version="true"></script>
}
