@* <!DOCTYPE html> *@
@* <html> *@
@* <head> *@
@* <title>Title of the document</title> *@
@* </head> *@
@* *@
@* <body> *@
@* <a>Получить данные</a> *@
@*         <label for="datep">Дата начала: </label><input id="datep"/> *@
@*         <label for="datep">Дата окончания: </label><input id="datep2"/>        *@
@* </body> *@
@* *@
@* </html> *@