[submodule "tn.docgeneral"]
	path = tn.docgeneral
	url = https://git.tncpa.ru/orpovy/ivk/tn.docgeneral.git
[submodule "tn_toolsfastreport"]
	path = tn_toolsfastreport
	url = https://git.tncpa.ru/orpovy/ivk/tn_toolsfastreport.git
[submodule "winprutil"]
	path = winprutil
	url = https://git.tncpa.ru/orpovy/ivk/winprutil.git
