[submodule "tn.utils"]
	path = tn.utils
	url = http://192.168.100.100/orpovy/ivk/tn.utils.git
[submodule "tn.docgeneral"]
	path = tn.docgeneral
	url = http://192.168.100.100/orpovy/ivk/tn.docgeneral.git
