<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/LeftPanel.css" />
    <link rel="stylesheet" href="~/css/errorDialogWindow.css">
    <link rel="stylesheet" href="~/css/elisRequestWindow.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="~/lib/DataTables/datatables.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/Select-1.4.0/css/select.jqueryui.css">
    <script type="text/javascript" charset="utf8" src="~/lib/DataTables/Select-1.4.0/js/select.jqueryui.js"></script>
    <script src="~/lib/momentjs/moment.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/PDFObject/pdfobject.js"></script>
    <script src="~/lib/PDFObject/pdfobject.min.js"></script>
    <script src="~/js/system.js"></script>
    <script src="~/js/DirEditorComponentScript.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/loading-spinner.js"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
