@*@model TN_Doc.Models.Home.ModelReport*@
@*@model TN.Doc.CfgApp*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TN_Doc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/LeftPanel.css" /> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/lib/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.1.custom/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="~/lib/DataTables/datatables.js"></script>

    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/Select-1.4.0/css/select.jqueryui.css">
    <script type="text/javascript" charset="utf8" src="~/lib/DataTables/Select-1.4.0/js/select.jqueryui.js"></script>
    
    <script src="~/lib/momentjs/moment.min.js"></script>

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <script src="~/lib/PDFObject-2.2.12/pdfobject.js"></script>

    <script src="~/js/Common.js"></script>

@*    <script src="~/lib/luxon/luxon.js"></script>
*@
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">ОТЧЕТЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">ПАСПОРТА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">АКТЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">ЖУРНАЛЫ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TN_Doc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>   *@



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
