/* Стили для модального окна Запроса данных от ЕЛИС*/
#elis .modal {
  border: none !important; /* Убираем границу вокруг окна */
  box-shadow: none !important; /* Убираем тень */
  background-color: transparent !important; /* Убираем фон */
  border-radius: 5px !important; /* Закругляем углы */
}

#elis .modal-dialog {
  border: none !important;
  border-radius: 12px !important;
  font-size: 14px;
  font-family: Arial, sans-serif !important;
  overflow: hidden !important;
}

#elis .modal-header {
  border: none !important;
  margin-bottom: 15px;
  background-color: var(--md-primary) !important;
  color: var(--md-white) !important;
}

#elis .modal-title {
  border: none !important;
  margin: 0;
  padding: 10px 20px;
}

#elis .modal-body {
  box-shadow: none !important; /* Убираем тень */
  background-color: transparent !important; /* Убираем фон */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid var(--md-outline-light);
}

#elis .modal-info {
  border: none !important;
  margin: 0;
  padding: 10px 10px;
  color: red;
}

#elis .modal-info:empty {
  display: none;
}

#elis .modal-dialog-footer {
  display: flex;
  justify-content: flex-end; 
  margin: 0;
}

/* Кнопки */
#elis .btn {
  min-width: 120px;
  background-color: var(--md-primary);
  color: var(--md-white);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 10px 10px;
}

/* Эффект при наведении на кнопку */
#elis .btn:hover {
  background-color: var(--md-primary-hover);
}

/* Эффект при нажатии на кнопку */
#elis .btn:active {
  background-color: var(--md-primary-active);
}

#elis .btn-secondary {
  background-color: var(--md-gray-600); /* Серый цвет для кнопки Закрыть */
  margin-right: 0;
}

#elis .btn-secondary:hover {
  background-color: var(--md-gray-700); /* Темно-серый при наведении */
}

#elis .btn-secondary:active {
  background-color: var(--md-gray-800); /* Еще темнее при нажатии */
}

#elis div.modal-content {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

#elis div.modal-footer {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

#elis .list-group {
  width: calc(100% - 20px); /* Ширина кнопки с учетом отступов */
  margin: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

#elis .list-group-item {
  
  display: block; /* Блоковый элемент для полной ширины */
}