/* Стили для ячеек с данными из ЕЛИС */
td:has(input[data-elis-filled="true"]),
td:has(select[data-elis-filled="true"]) {
    background-color: var(--elis-active-color);
}

td:has(input[data-elis-filled="true"].manual-input--disabled),
td:has(select[data-elis-filled="true"].manual-input--disabled) {
    background-color: var(--elis-disabled-color);
}

/* Стили для элементов внутри ячеек */
input[data-elis-filled="true"],
select[data-elis-filled="true"] {
    background-color: var(--elis-active-color);
}

input[data-elis-filled="true"].manual-input--disabled,
select[data-elis-filled="true"].manual-input--disabled {
    background-color: var(--elis-disabled-color);
} 