.Table {
    /*overflow-y: scroll;*/
    /*  background-color: #ffffff; */
    position: absolute;
    left: 20px;
    top: 100px;
    width: 355px;
    height: 825px;
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    /* padding: 5px;  Поля вокруг текста */
    /* margin: 10px 10px 20px 5px;  Значения отступов */
}

.Table div {
    /* min-height: 400px; */
    padding: 2px; /* Поля вокруг ссылок */
}

.Table a {
    display: block; /* Отображать ссылку как блок */
    padding: 2px; /* Поля вокруг ссылок */
    margin: 1px; /* Отступы вокруг */
    font-size: 0.9em; /* Размер текста */
    text-decoration: none; /* Убираем подчеркивание текста */
}

.Table a:hover {
    background: #faf3d2; /* Цвет фона */
    border: 1px dashed #634f36; /* Добавление пунктирной рамки */
    margin: 0; /* Убираем поля */
}

/*
.overflow {
    min-height: 400px;
}

.element::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

.element::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
}

.element::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}
    */

.Doc {
    overflow: auto;
    position: absolute;
    float: right;
    left: 385px;
    top: 100px;
    width: 1300px;
    height: 825px;
    border: 1px solid #333;
}

.FR {
    width: 1280px;
    height: 780px;
}

.Device {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100%;
    height: 20px;
}

/***************************************************/
.top-menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    align-self: center;
    margin: 10px 30px 10px 10px
}

.big-icon {
    font-size: 50px;
}

.modal-dir-editor-width {
    max-width: 90%;
    min-width: 600px;
}

.modal-dir-editor-height {
    max-height: 80%;
    min-height: 800px;
}

.qp-dir-item,
.dir-item {
    height: 750px;
}

#not-selected {
    text-align: center;
    height: 100px;
    width: 200px;
    border-radius: 5%;
}

.user-group-table,
.licences-table,
.users-table,
.qp-method-table,
.qp-params-table
{
    position: relative;
    width: 100%;
    height: 100%;
}

.inner-item-center {
    text-align: center;
    vertical-align: middle;
}

.btn-image {
    width: 100%;
    height: 100%;
}

.disabled-item {
    pointer-events: none;
    opacity: 0.6;
}

.save-btn {
  
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.data-row {
    text-align: center;
    vertical-align: middle;
}

.dictionaries {
}

.invalid-cell-content {
    outline: 2px solid red;
    outline-offset: -2px;
    /*border: 1px solid red;*/
}

.table-container {
    display: block;
    height: 100%;
}

.two-table-container {
    display: flex;
    height: 100%;
}

.table-container-part-50ph{
    height: 50%;
    overflow-y: auto;
}


.table-content {
    max-height: 90%;
    overflow-y: auto;
    margin-bottom: 10px;
}

.table-bottom-menu {
    display: flex;
    align-items: center;
    justify-content: right;
}

.default-btn-size {
    height: 40px;
    width: 115px;
}

.add-lic-btn {

}

.add-user-btn {

}

.close-menu-item{
    border-color: transparent;
    font-size: 1.5rem;
    margin: 2px;
}

.close-menu{
    display: flex;
    justify-content: space-between;
}