/*отключение стрелочек у  input[type=number]*/

/*chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*mozilla*/
input[type=number] {
    -moz-appearance: textfield;
}

/***************************************************/
.cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 98%;
    width: 98%;
}

.mainTable {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 10pt;
}

.mainTable > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
}

.topPanel {
    height: 30px;
}

.leftPanel {
    width: 400px;
}

.filterTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

.filterTable > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
}

.searched-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.searched-table > tbody > tr > td {
    border-collapse: collapse;
}


.docTable {
    width: 100%;
    height: 100%;
}

.FR {
    width: 100%;
    height: 100%;
}

/*table,*/
/*td {*/
/*    border: 0px solid black;*/
/*    border-collapse: collapse;*/
/*    !*vertical-align: middle;*!*/
/*}*/

.filterSelect {
    width: 100%;
}

.filterDatepicker {
    width: 100%
}

.filterButton {
    width: 150px;
}

/***************************************************/

.top-menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    align-self: center;
    margin: 10px 30px 10px 10px
}

.big-icon {
    font-size: 50px;
}

.modal-dir-editor-width {
    max-width: 90%;
    min-width: 600px;
}

.modal-dir-editor-height {
    max-height: 80%;
    min-height: 800px;
}

.qp-dir-item,
.dir-item {
    font-size: 14px;
    height: 750px;
}

#not-selected {
    text-align: center;
    height: 100px;
    width: 200px;
    border-radius: 5%;
}

.user-group-table,
.licences-table,
.users-table,
.qp-method-table,
.qp-params-table {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner-item-center {
    text-align: center;
    vertical-align: middle;
}

.btn-image {
    width: 100%;
    height: 100%;
}

.disabled-item {
    pointer-events: none;
    opacity: 0.6;
}

.save-btn {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.close-modal-wnd-btn {

}

.data-row {
    text-align: center;
    vertical-align: middle;
}

.dictionaries {
}

.invalid-cell-content {
    outline: 2px solid red;
    outline-offset: -2px;
    /*border: 1px solid red;*/
}

.table-container {
    display: block;
    height: 100%;
}

.two-table-container {
    display: flex;
    height: 100%;
}

.table-container-part-50ph {
    height: 50%;
    overflow-y: auto;
}


.table-content {
    max-height: 90%;
    overflow-y: auto;
    margin-bottom: 10px;
}

.table-bottom-menu {
    display: flex;
    align-items: center;
    justify-content: right;
}

.default-btn-size {
    height: 40px;
    width: 115px;
}

.add-lic-btn,
.add-user-btn,
.add-qp-btn {
    display: flex;
    justify-content: space-between;
}

.close-menu-item {
    border-color: transparent;
    font-size: 1.5rem;
    margin: 2px 0px 2px 0px;
}

.close-menu {
    display: flex;
    justify-content: space-between;
}

.padding-one-px-top {
    padding-top: 1px;
}