@import url("newstyle.css");
@import url("material3.css");

:root {
  --status-bar-height: var(--md-status-bar-height);
}

*{
  box-sizing: border-box;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: var(--md-primary);
}

.btn-primary {
  color: var(--md-white);
  background-color: var(--md-primary);
  border-color: var(--md-primary-hover);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--md-white);
  background-color: var(--md-primary);
  border-color: var(--md-primary-hover);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--md-border-light);
}
.border-bottom {
  border-bottom: 1px solid var(--md-border-light);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}