<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <!-- Custom dialog: lets the user specify the Windows Service name -->
      <Dialog Id="ServiceNameDlg" Width="370" Height="270"
              Title="!(loc.InstallDirDlg_Title)">

        <!-- Banner -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44"
                 TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <!-- Title and description -->
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15"
                 Transparent="yes" NoPrefix="yes"
                 Text="{\WixUI_Font_Title}Настройка службы Windows" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15"
                 Transparent="yes" NoPrefix="yes"
                 Text="Укажите имя службы Windows для приложения TN_Doc." />

        <!-- Service name input -->
        <Control Id="ServiceNameLabel" Type="Text" X="20" Y="70" Width="290" Height="20"
                 NoPrefix="yes"
                 Text="Имя службы Windows:" />
        <Control Id="ServiceNameEdit" Type="Edit" X="20" Y="90" Width="330" Height="18"
                 Property="SERVICENAME" />

        <!-- Help text -->
        <Control Id="ServiceNameNote" Type="Text" X="20" Y="120" Width="330" Height="40"
                 NoPrefix="yes"
                 Text="Это имя будет использоваться для регистрации Windows Service. По умолчанию: tn.doc. Имя должно быть уникальным среди установленных служб." />

        <!-- Navigation buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17"
                 Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17"
                 Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17"
                 Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
