[Unit]
Description=Service TN_Doc

[Service]
WorkingDirectory=/opt/TN_Doc/
ExecStart=/usr/bin/dotnet/dotnet /opt/TN_Doc/TN_Doc.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-TN_Doc
User=alphadaemon
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
