<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog-log.txt">

  <!-- Переменные конфигурации -->
  <variable name="logLevel" value="Debug" />
  <variable name="logDirectory" value="${basedir}/logs" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <!-- Запись логов в файл с поддержкой разных директорий для разных ОС -->
        <target xsi:type="File" name="logfile" 
                fileName="${var:logDirectory}/${shortdate}.log"
                layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring} | ${logger} | ${processid} | ${threadid}"
                createDirs="true" />
        <!-- Вывод в консоль для отладки -->
        <target xsi:type="ColoredConsole" name="logconsole"
                layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring} | ${logger} | ${processid} | ${threadid}" />
    </targets>

    <rules>
        <!-- Логирование TN_Doc приложения в файл -->
        <logger name="TN*" minlevel="${var:logLevel}" writeTo="logfile" />
        
        <!-- Консольный вывод только в режиме отладки -->
        <logger name="*" minlevel="Trace" writeTo="logconsole">
            <filters>
                <when condition="contains('${basedir}', 'bin\Debug')" action="Log"/>
            </filters>
        </logger>
        <!--
        Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
        <logger name="*" minlevel="Debug" writeTo="f" />
        -->
    </rules>
</nlog>
